*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: lightblue;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(109, 106, 102);
    color: rgb(255, 255, 255);
    height: 70px;
    width: 100%;
    box-shadow: 0px 3px 10px 2px rgb(41, 41, 41);
}

nav ul{
    display: flex;
    align-items: center;
}

ul li{
    display: inline-block;
    list-style: none;
}

ul li a{
    text-decoration: none;
    margin-inline: 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 11px;
    
}

ul li a:hover, ul li .active{
    color: rgb(103, 218, 118);
    border-bottom: 2px solid rgb(255, 255, 255);

}

ul li .btn{
    padding: 4px 20px;
    font-size: 18px;
    background-color: rgb(128, 209, 247);
    color: rgb(255, 255, 255);
}

.logo{
    font-size: 18px;
    margin-left: 15px;
}

.icon{
    align-items: center;
    font-size: 30px;
    margin-right: 12px;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width:750px){
    nav ul{
        display: none;
    }
    .icon{
        display: flex;
    }
    .showData{
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 250px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 70px;
        width: 100%;
        background-color: rgb(138, 135, 131);
    }
}