*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: lightblue;
    margin: 0;
    box-shadow: none;
    padding: 0;
    display: block;
}